flows/s3-event-notification-in-nifi/s3-event-notification-in-nifi.json
{"flowContents":{"identifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"s3-event-notification-in-nifi","comments":"","position":{"x":-40.0,"y":376.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"aa5e046b-bf4f-36f5-8d47-27ffad9f7c30","name":"Get Bucket/Filename Attributes","comments":"","position":{"x":424.0,"y":536.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"bucket":"$.Records[0].s3.bucket.name","Destination":"flowfile-attribute","filename":"$.Records[0].s3.object.key","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"bucket":{"name":"bucket","displayName":"bucket","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"1e366d2c-5c5e-32b3-9a3b-210bef178af5","name":"Replace FF Content with Message","comments":"","position":{"x":424.0,"y":336.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","Return Type":"auto-detect","Null Value Representation":"empty string","message":"$.Message","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"message":{"name":"message","displayName":"message","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"6e2c41b3-0dee-33da-884c-01b89ddea544","name":"Get File from S3","comments":"","position":{"x":424.0,"y":728.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{Access Key ID}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${bucket}","Version":null,"Communications Timeout":"30 secs","Region":"eu-west-1","Secret Key":"#{Secret Access Key}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"5e959c3e-6b21-3a08-98fd-4776d1df941d","name":"Get Event Notifications","comments":"","position":{"x":424.0,"y":160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.aws.sqs.GetSQS","properties":{"Proxy Host":null,"Auto Delete Messages":"true","Access Key":"#{Access Key ID}","Endpoint Override URL":null,"Queue URL":"#{SQS Queue URL}","Receive Message Wait Time":"0 sec","AWS Credentials Provider service":null,"Batch Size":"10","Visibility Timeout":"15 mins","Communications Timeout":"30 secs","Secret Key":"#{Secret Access Key}","Credentials File":null,"Region":"eu-west-1","proxy-user-name":null,"Character Set":"UTF-8","Proxy Host Port":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Auto Delete Messages":{"name":"Auto Delete Messages","displayName":"Auto Delete Messages","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Queue URL":{"name":"Queue URL","displayName":"Queue URL","identifiesControllerService":false,"sensitive":false},"Receive Message Wait Time":{"name":"Receive Message Wait Time","displayName":"Receive Message Wait Time","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Visibility Timeout":{"name":"Visibility Timeout","displayName":"Visibility Timeout","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2e9a739c-9ebf-303b-8ba1-5d5b000a512a","name":"","source":{"id":"1e366d2c-5c5e-32b3-9a3b-210bef178af5","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Replace FF Content with Message","comments":""},"destination":{"id":"aa5e046b-bf4f-36f5-8d47-27ffad9f7c30","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Get Bucket/Filename Attributes","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"fc3bafe3-df8e-33f3-a4c8-6688c4dc487e","name":"","source":{"id":"6e2c41b3-0dee-33da-884c-01b89ddea544","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Get File from S3","comments":""},"destination":{"id":"3ed497eb-5e3e-3ad0-a68e-e0c0ee9412e6","type":"FUNNEL","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"05a26d0b-e525-3210-8aa0-2e17c27bb3b8","name":"","source":{"id":"6e2c41b3-0dee-33da-884c-01b89ddea544","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Get File from S3","comments":""},"destination":{"id":"2772e19c-9e79-3d43-b5af-4b2467f42ae2","type":"FUNNEL","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"b29b0fb0-815d-34cc-9368-8a12efaa78a0","name":"","source":{"id":"aa5e046b-bf4f-36f5-8d47-27ffad9f7c30","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Get Bucket/Filename Attributes","comments":""},"destination":{"id":"6e2c41b3-0dee-33da-884c-01b89ddea544","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Get File from S3","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"e31136bd-73cd-3d3c-9a16-6660400b07d5","name":"","source":{"id":"5e959c3e-6b21-3a08-98fd-4776d1df941d","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Get Event Notifications","comments":""},"destination":{"id":"1e366d2c-5c5e-32b3-9a3b-210bef178af5","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Replace FF Content with Message","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"9e48b6da-4bcb-32ab-882c-22b9999c7fb7","name":"","source":{"id":"1e366d2c-5c5e-32b3-9a3b-210bef178af5","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Replace FF Content with Message","comments":""},"destination":{"id":"2772e19c-9e79-3d43-b5af-4b2467f42ae2","type":"FUNNEL","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"cb046745-6529-39a8-bc5b-ede2e9cd08e7","name":"","source":{"id":"aa5e046b-bf4f-36f5-8d47-27ffad9f7c30","type":"PROCESSOR","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Get Bucket/Filename Attributes","comments":""},"destination":{"id":"2772e19c-9e79-3d43-b5af-4b2467f42ae2","type":"FUNNEL","groupId":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"}],"labels":[],"funnels":[{"identifier":"3ed497eb-5e3e-3ad0-a68e-e0c0ee9412e6","position":{"x":576.0,"y":928.0},"componentType":"FUNNEL","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"},{"identifier":"2772e19c-9e79-3d43-b5af-4b2467f42ae2","position":{"x":1056.0,"y":464.0},"componentType":"FUNNEL","groupIdentifier":"f8d6acb4-1f00-376f-9a52-deb2ed1298f9"}],"controllerServices":[],"variables":{},"parameterContextName":"s3-event-notification-in-nifi","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"s3-event-notification-in-nifi":{"name":"s3-event-notification-in-nifi","parameters":[{"name":"SQS Queue URL","description":"","sensitive":false,"value":"https://sqs.eu-west-1.amazonaws.com/840836244599/ab-s3-event-notification-in-nifi"},{"name":"Access Key ID","description":"","sensitive":true},{"name":"Secret Access Key","description":"","sensitive":true}]}},"flowEncodingVersion":"1.0"}