flows/scripted-reader-key-value-pair/scripted-reader-key-value-pair.json
{
    "flowContents": {
        "identifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a",
        "name": "scripted-reader-key-value-pair",
        "comments": "",
        "position": {
            "x": -504.0,
            "y": 376.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "e75d0a06-23aa-3acb-a6e6-1db0bb0fd756",
                "name": "Generate Test KVP Data",
                "comments": "",
                "position": {
                    "x": -424.0,
                    "y": 368.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "properties": {
                    "character-set": "UTF-8",
                    "File Size": "0B",
                    "mime-type": null,
                    "generate-ff-custom-text": "name:dennis age:45 job:veterinarian\nname:dee age:45 job:actress\nname:mac age:44 job:sheriff\nname:charlie age:45 job:lawyer",
                    "Batch Size": "1",
                    "Unique FlowFiles": "false",
                    "Data Format": "Text"
                },
                "propertyDescriptors": {
                    "character-set": {
                        "name": "character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "File Size": {
                        "name": "File Size",
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "mime-type": {
                        "name": "mime-type",
                        "displayName": "Mime Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "name": "generate-ff-custom-text",
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "name": "Unique FlowFiles",
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Data Format": {
                        "name": "Data Format",
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "60 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            },
            {
                "identifier": "c396575f-5d66-3354-a872-901baa1fe649",
                "name": "Convert KVP to JSON & Add Location",
                "comments": "",
                "position": {
                    "x": -424.0,
                    "y": 568.0
                },
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.14.0"
                },
                "style": {},
                "type": "org.apache.nifi.processors.standard.UpdateRecord",
                "properties": {
                    "/location": "philly",
                    "record-writer": "496ccf5b-1ef9-36db-b6b4-acacd4356f12",
                    "record-reader": "81b4bd6d-0222-3b97-84cd-b252f6512f6f",
                    "replacement-value-strategy": "literal-value"
                },
                "propertyDescriptors": {
                    "/location": {
                        "name": "/location",
                        "displayName": "/location",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "replacement-value-strategy": {
                        "name": "replacement-value-strategy",
                        "displayName": "Replacement Value Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "componentType": "PROCESSOR",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "85b2acbf-adec-35c7-9add-8a4b4b466a38",
                "name": "",
                "source": {
                    "id": "c396575f-5d66-3354-a872-901baa1fe649",
                    "type": "PROCESSOR",
                    "groupId": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a",
                    "name": "Convert KVP to JSON & Add Location",
                    "comments": ""
                },
                "destination": {
                    "id": "012df8ce-8e87-3abd-b393-7fbadc5c0382",
                    "type": "FUNNEL",
                    "groupId": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a",
                    "name": "Funnel",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            },
            {
                "identifier": "56ab560b-3a25-3754-9738-82cbe7241a1a",
                "name": "",
                "source": {
                    "id": "e75d0a06-23aa-3acb-a6e6-1db0bb0fd756",
                    "type": "PROCESSOR",
                    "groupId": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a",
                    "name": "Generate Test KVP Data",
                    "comments": ""
                },
                "destination": {
                    "id": "c396575f-5d66-3354-a872-901baa1fe649",
                    "type": "PROCESSOR",
                    "groupId": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a",
                    "name": "Convert KVP to JSON & Add Location",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            },
            {
                "identifier": "00980d64-ac68-37fe-826c-2079591c7521",
                "name": "",
                "source": {
                    "id": "c396575f-5d66-3354-a872-901baa1fe649",
                    "type": "PROCESSOR",
                    "groupId": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a",
                    "name": "Convert KVP to JSON & Add Location",
                    "comments": ""
                },
                "destination": {
                    "id": "209521eb-4a09-3a56-8a68-f0058214191f",
                    "type": "FUNNEL",
                    "groupId": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a",
                    "name": "Funnel",
                    "comments": ""
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            }
        ],
        "labels": [],
        "funnels": [
            {
                "identifier": "209521eb-4a09-3a56-8a68-f0058214191f",
                "position": {
                    "x": -528.0,
                    "y": 808.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            },
            {
                "identifier": "012df8ce-8e87-3abd-b393-7fbadc5c0382",
                "position": {
                    "x": -48.0,
                    "y": 808.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            }
        ],
        "controllerServices": [
            {
                "identifier": "496ccf5b-1ef9-36db-b6b4-acacd4356f12",
                "name": "JSON Record Writer",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.14.0"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.14.0"
                        }
                    }
                ],
                "properties": {
                    "schema-branch": null,
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "false",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-protocol-version": "1",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-protocol-version": {
                        "name": "schema-protocol-version",
                        "displayName": "Schema Protocol Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            },
            {
                "identifier": "81b4bd6d-0222-3b97-84cd-b252f6512f6f",
                "name": "KVP Scripted Reader",
                "comments": "",
                "type": "org.apache.nifi.record.script.ScriptedReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.14.0"
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.14.0"
                        }
                    }
                ],
                "properties": {
                    "Script File": null,
                    "Script Engine": "Groovy",
                    "Script Body": "import org.apache.nifi.serialization.record.MapRecord\nimport org.apache.nifi.serialization.record.RecordField\nimport org.apache.nifi.serialization.RecordReader\nimport org.apache.nifi.serialization.SimpleRecordSchema\nimport org.apache.nifi.controller.AbstractControllerService\nimport org.apache.nifi.logging.ComponentLog\nimport org.apache.nifi.serialization.MalformedRecordException\nimport org.apache.nifi.serialization.record.Record\nimport org.apache.nifi.serialization.RecordReaderFactory\nimport org.apache.nifi.serialization.record.RecordSchema\nimport org.apache.nifi.serialization.record.RecordFieldType\n\nclass KVPReader implements RecordReader {\n\n    private final BufferedReader bufferedReader\n\n    public KVPReader(InputStream input) {\n        bufferedReader = new BufferedReader(new InputStreamReader(input))\n    }\n\n    public Record nextRecord(final boolean coerceTypes, final boolean dropUnknownFields) throws IOException, MalformedRecordException {\n        final String line = bufferedReader.readLine()\n        if (line == null) {\n            return null\n        }\n\n        List<String> kvps = line.tokenize(' ')\n        Map<String, Object> recordValues = [:]\n        List<RecordField> recordFields = []\n        kvps.each { row ->\n            String key = ''\n            String value = ''\n            (key,value) = row.tokenize(':')\n            recordValues.put(key, value)\n            recordFields.add(new RecordField(key, RecordFieldType.STRING.getDataType()))\n        }\n        SimpleRecordSchema schema = new SimpleRecordSchema(recordFields)\n        return new MapRecord(schema, recordValues)\n    }\n\n    @Override\n    public void close() throws IOException {\n        bufferedReader.close()\n    }\n\n    @Override\n    public RecordSchema getSchema() {\n        return schema\n    }\n\n}\n\nclass KVPReaderFactory extends AbstractControllerService implements RecordReaderFactory {\n\n    public KVPReaderFactory() {\n    }\n\n    public RecordReader createRecordReader(final Map<String, String> variables, final InputStream inputStream, final long inputLength, final ComponentLog componentLog) throws IOException {\n        return new KVPReader(inputStream)\n    }\n\n}\n\nreader = new KVPReaderFactory()\n",
                    "Module Directory": null
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "DIRECTORY",
                                "FILE"
                            ]
                        }
                    }
                },
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "79a4f1e9-0d1c-3cfd-9f5e-3a4fb435a99a"
            }
        ],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0"
}